/* app css stylesheet */
.main-menu {
    margin-top: 10px;
    text-align: center;
}
    .logo { margin-bottom: 20px;}
    .main-menu li:last-child a { margin-bottom: 0; }

.car-item { cursor: pointer; }
	.car-item img { width: 100%; }

	.choice-success,
	.choice-fail { position: relative; }

	.choice-success:after,
	.choice-fail:after,
	.choice-success:before,
	.choice-fail:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
    }
		.choice-success:after { background: rgba(92, 184, 92, 0.8);}
		.choice-fail:after { background: rgba(217, 83, 79, 0.8);}

	.choice-success:before,
	.choice-fail:before {
        z-index: 10;
        top: 35%;
        height: 65%;
        font-size: 30px;
        color: #fff;
        text-align: center;
        font-weight: bold;
    }
	    .choice-success:before { content: 'Right';}
	    .choice-fail:before { content: 'Wrong';}

.game-progress { height: 10px; margin-bottom: 10px;}

.label { font-size: 80%; }
.alert {
    padding: 4px 10px;
    margin-bottom: 10px;
}

.game-over-block h2 {
	margin: 5px 0 10px;
}
	.game-over-block .input-name { display: inline-block; width: 160px;}
	.game-over-block p { margin: 10px 0; }

.panel-records { padding: 0;}
    .panel-records table { margin-bottom: 0;}
        .panel-records th:first-child,
        .panel-records td:first-child { text-align: center; }