

<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-4 col-lg-4 col-lg-offset-4">
		<div class="panel panel-primary">
    	    <div class="panel-heading">
    	      <h3 class="panel-title">Panel title</h3>
    	    </div>
    	    <div class="panel-body">
    	      	<table class="table table-striped">
    	      		<tr>
    	      			<th>#</th>
    	      			<th>Name</th>
    	      			<th>Score</th>
    	      		</tr>
    	      		<tr>
    	      			<td>1</td>
    	      			<td>Lorem ipsum.</td>
    	      			<td>014</td>
    	      		</tr>
    	      		<tr>
    	      			<td>2</td>
    	      			<td>Lorem ipsum.</td>
    	      			<td>024</td>
    	      		</tr>
    	      		<tr>
    	      			<td>3</td>
    	      			<td>Lorem ipsum.</td>
    	      			<td>034</td>
    	      		</tr>
    	      		<tr>
    	      			<td>4</td>
    	      			<td>Lorem ipsum.</td>
    	      			<td>044</td>
    	      		</tr>
    	      		<tr>
    	      			<td>5</td>
    	      			<td>Lorem ipsum.</td>
    	      			<td>054</td>
    	      		</tr>
    	      		<tr>
    	      			<td>6</td>
    	      			<td>Lorem ipsum.</td>
    	      			<td>064</td>
    	      		</tr>
    	      		<tr>
    	      			<td>7</td>
    	      			<td>Lorem ipsum.</td>
    	      			<td>074</td>
    	      		</tr>
    	      		<tr>
    	      			<td>8</td>
    	      			<td>Lorem ipsum.</td>
    	      			<td>084</td>
    	      		</tr>
    	      		<tr>
    	      			<td>9</td>
    	      			<td>Lorem ipsum.</td>
    	      			<td>094</td>
    	      		</tr>
    	      		<tr>
    	      			<td>10</td>
    	      			<td>Lorem ipsum.</td>
    	      			<td>104</td>
    	      		</tr>
    	      	</table>
    	    </div>
    	</div>
    </div>
</div>
